<div class="app">

  <header>
    <h1>{{title}}</h1>
  </header>

  <app-todo></app-todo>
  
</div>

<!--mat-form-field appearance="fill">
  <mat-label>Fill form field</mat-label>
  <input matInput placeholder="Enter task" #newtask />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field-->


<!--input type="text" name="" placeholder="Enter task" #newtask>

<button mat-flat-button (click)="addTask(newtask.value)">Add Task</button>



<ul>
  <table><tr>
    <li *ngFor="let item of taskList">
      <td><mat-checkbox>
        {{item.taskName}}
      </mat-checkbox></td>
      <td><button mat-mini-fab class="del" (click)="removeTask(item.taskId)">
        <mat-icon>
          delete
        </mat-icon>
      </button ></td>
    </li>
  </tr></table>
</ul-->

